extends layout

block content
  h1= title
  if user
    h1 Welcome Back #{user.username}
    h3= title
    if post_list
      div.postContent
        ul       
            each post in post_list
                div.postWrapper
                  li  
                      h3.postTitle #{post.title}
                      p.postDesc #{post.desc}
                      p.postUser -#{post.user}
                      p.postDate #{post.date}  
                      if user.admin 
                        p
                          a(href=post.url + "/delete") Delete

    else
      p No posts available

   
    button.homePageButtons(onClick='window.location.href="/new-post"') Post something?
    button.homePageButtons Become a Member
    br
    button.homePageButtons(onClick="window.location.href='/log-out'") Log Out
    

  else 
    h1 Please Log In!
    form(action='/log-in' method="POST")
      label(for='username') Username:
      input(name="username" placeholder="username" type="username")
      br
      label(for='password') Password: 
      input(name="password" type='password' placeholder="password")
      br
      button Log In 

    p Or if you dont have an account: 
     a(href='/sign-up') Sign up 
    
